@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,500&family=Inclusive+Sans&display=swap');


.App {
  text-align: center;
}


body{
  background-color: #FFF6EE;
}


.main-title{
  margin-top:20%;
  color: #A53258;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.center-box {
  width: 80%; 
  max-width: 400px; 
  margin: 0 15%; 
  padding: 10px; 
  text-align: center;
  border-radius: 10px;
  background-color: #FFF6EE;
  color: #D5603F;
  font-family: 'Inclusive Sans', sans-serif;
}

.main-img-group{
  display: flex;
  justify-content: space-around; /* Adjust to 'space-between' for more spacing between images */
  align-items: center;
  width: 100%; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width for responsiveness */
  margin: 0 auto; /* Center the container horizontally */

}

.main-img {
  height: 300px;
  align-items: right;
  border-radius:10px;
}

.secondary-img{
  max-width: 100px;
}


.main-image {
  width: 100px; /* Adjust the image size as needed */
  height: 100px;
  margin: 0 20px; /* Adjust the margin to control the spacing */
  text-align: center;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 50%;
}