@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,500&family=Inclusive+Sans&display=swap');


.App {
  text-align: center;
}


body{
  background-color: #FFF6EE;
}


.main-title{
  margin-top:20%;
  color: #A53258;
  font-family: 'Bricolage Grotesque', sans-serif;
}

.center-box { 
  max-width: 450px; 
  margin: 0 15%; 
  text-align: center;
  border-radius: 10px;
  background-color: #FFF6EE;
  color: #D5603F;
  font-family: 'Inclusive Sans', sans-serif;
}

h3{
  color: #D5603F;
  font-family: 'Inclusive Sans', sans-serif;
}
.main-img-group{
  display: flex;
  position:relative;
  padding: 15px;
  top:20px;
  margin: 15%;
  right:100px;
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto;

}

.main-img {
  width: 250px; /* Adjust the image size as needed */
  height: 400px;
  margin: 1em; /* Adjust the margin to control the spacing */
  text-align: center;
  border-radius: 10px;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  border-radius: 50%;
}

.combined-container{
  display:flex;
  flex-direction: row;
}


.mainbutton {
  background-color: #A53258;
  color: #FFFFFF;
  padding: 12px 24px; 
  font-size: 16px; 
  border: none;
  border-radius: 5px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin:1em; 
}

.mainbutton:hover {
  background-color: #A53258;
}

.secondary-img-group{
  display:flex;
  position:relative;
  right:100px;
  width:50%;
  margin:auto;

}

.secondary-img{
  margin:2em;
  width:250px;
  height:250px;
  padding: 20px;
}