.search-bar {
    position: fixed;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 20px; /* Rounded corners */
  }
  
  input[type="text"] {
    width: 300px; /* Larger width */
    padding: 10px; /* Larger padding */
    border: none;
    outline: none;
    border-radius: 20px; /* Rounded corners */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px; /* Larger padding */
    cursor: pointer;
    border-radius: 20px; /* Rounded corners */
  }
  
  /* Hover effect for the button */
  button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  