.sidebar {
    background-color: #A53258;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    overflow-y: auto; /* Enable scrolling since page is longer */
    transition: width 0.2s;
  }



  button{
    margin:1em;
    border-radius:10px;
  }


  .sidebar:hover {
    width: 250px; /* Expand when user hovers */
  }
  
  .logo {
    text-align: center;
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .nav-links {
    list-style-type: none;
    display:flex;
    flex-direction:column;
  }
  
  .nav-links li {
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight:bold;
  }
  
  .nav-links li:hover {
    background-color: #333; /* Darker background on hover */
  }
  